* {
    margin: 0;
    padding: 0;
}

.error {
    color: #ff0000;
}

body {
    padding: 40px;
    text-align: center;
}

h2 {
    padding: 20px 0px;
}

h3 {
    text-decoration: underline;
    margin-bottom: 20px;
    padding: 20px;
}

p {
    padding: 20px 0px;
}

a {
    cursor: pointer !important;
}

input {
    margin: 10px;
    padding: 5px 50px;
    outline: 0;
    border: 2px solid #ddd;
    border-radius: 20px;
    text-align: center;
}

input::placeholder {
    text-align: center;
}

input[type="submit"]:hover {
    background: #fff;
    transition: 0.4s;
}

nav {
    margin: 30px;
}

ul {
    display: inline-block;
}

.navButtons {
    display: inline;
    margin: 10px;
    border: 2px solid #ddd;
}

li a {
    text-decoration: none;
}

article {
    background-color: #ddd;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}

article a {
    text-decoration: none;
    color: #000;
}

section {
    width: 80%;
    margin: auto;
}

summary,
h3 {
    display: inline;
}

details {
    padding-bottom: 5vh;
}

table {
    width: 100%;
    border: #222 solid;
}

tr {
    padding: 10px;
    border-bottom: 1pt solid black;
}

td {
    padding: 5px;
}

td input[type="text"] {
    padding: 0;
    border: none;
    margin: 0;
}

.trasparent {
    padding: 20px 0px;
    border: none;
    margin: 0;
    background-color: inherit;
    cursor: pointer !important;
}